.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content > div {
  width: 400px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #21a1f1;
}

.button.active {
  background-color: #21a1f1;
  color: white;
}

.checkout-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  color: #282c34;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 573px;
}
